:root{
  --main-color:rgb(70, 54, 16);
  --second-color:rgb(244, 241, 234);
  --gray-color:#AFAFAF;
  --button-radius:20px;

}
    body {
        font-family: Arial, sans-serif;
      }
      .profile-page{
        width: 100%;
      
       
      }
      .logo-div{
    position: relative;

      }
      .logo{
        width: 150px;
        margin-left: -10px;
      }
      .logo:hover{
        cursor: pointer;
      }
      .links{
        margin-top: 30px;
      }
 
      li{
        margin-bottom: 20px;
     
        width: 100%;
    
        
      }

      li>a{
        color: var(--main-color);
        
      }
      li:hover{
        color: var(--second-color);
        background-color:var(--main-color);
       
        border-radius: 20px;
        padding: 5px;
        width: inherit;
  
       
        
      }
      li>a:hover{
        color: var(--second-color);
        background-color:var(--main-color);
       
        border-radius: 20px;
        padding: 5px;
        width: inherit;
  
       
        
      }
      .smallppContainer{
        display: flex;
        justify-content: space-between;
       margin-top: auto;
      
      }
      .smallpp{
        border-radius: 50%;
        height: 50px;
        width: 50px;
        margin-right: -45px;
      

      }
      .profile {
        padding: 20px;
      }
      .editProfileBtn{
        border-radius:var(--button-radius) ;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-color: var(--second-color);
        color: var(--main-color);
        transition: transform 0.3s;
      
      }
      .editProfileBtn:hover{
        background-color: var(--main-color) !important;
        color: var(--second-color);
        transform: scale(1.1);
      }
      .profile-img{
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin-right: 20px;
      }
      .sidebar {
        width: fit-content;
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: var(--second-color);
        padding: 20px;
        
        
      }

      .profilecontainer{
        display: flex;
        justify-content: space-between;
      }
      .profile-username-bio{
        display: flex;
      }
      .titles{
        display: flex;
        
        margin-top: 20px;
      }
      .titles p{
        margin-right: 150px;
      }
  
     
      .line1{
        padding: 0px !important;
        margin-top: -10px;
      }
      .star-icon{
        font-size: 2rem;
        color: gold;
        border-color: gray;
      }
      .books-container{
        display: flex;
        height: 100px;
      
      }
      .bookimg{
        width: 120px;
        height: 100px;
      
        margin-right: 10px;
      }
      .title-rating{
        display: flex;
      }
      .star-icon{
        font-size: 15px;
      }
      .un-checked{
        color:gray;

      }
      .rating{
        margin-left: 10px;
      }
      .details{
        width: 600px;
        height: inherit;
       
       
       
      }
      .details p{
        font-size: 12px;
      }
      .search-input {
        display: none; /* Initially hide search input */
      }
      

      @media (max-width: 768px) {
        .sidebar {
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          width: 250px;
          overflow-y: auto;
          display: none;
        }
        .profile {
          margin-left: 250px;
        }
        .details{
          width: fit-content;
        }
        .description{
          display: none;
        }
        .books-container{
          display:flex;
          flex-direction: column;
          width: 100%;
          background-color: red;
        
        }
        .bookimg{
          width: 80%;
          
        }
        .title-rating{
          display: flex;
          flex-direction:column ;
          justify-content: center;
          align-items: center;
       margin-left: 150px;
          
        }
        hr{
          margin-top: 60px;
        }
      }