* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:#dbd6c9e4;
  }
.main {
    margin: 2.15% auto;
    display: flex;
    flex-wrap:no-wrap;
    width: 60%;
    height: 47em;
}

.picdiv{width: 38%;}
.pic{width: 100%;
    height: 100%;
text-align: center; 
 }

.txtContainer {
    width: 69%;
    margin-right: -2%;
    border-radius: 0% 2% 2% 0%;
    background-color: rgb(244, 241, 234);
    position: relative;
    cursor: default;
}

.title {
    font-size: 1.8rem !important;
    text-align: center !important;
    font-weight: 500;

}

.undtitle {
    margin-top: 6.5rem;
}

.text {
    color: rgba(70, 54, 16, 255);
    margin: auto;
    margin-top: 10%;
    width: 78%;
    font-size: 1.3rem;
}
.flex{display: flex;
    align-items: center;}
.icons{margin-left: -6%;}



.form-control {
    height: 3rem !important;
    color: rgba(70, 54, 16, 255) !important;
    background-color: transparent !important;
    border-top-style: none !important;
    border-right-style: none !important;
    border-bottom-style: 2px solid !important;
    border-left-style: none !important;
    border-color: rgb(70, 54, 16) !important;
    box-shadow: none !important;
    font-size: 1.35rem !important;
    font-weight: 500;
    border-radius: 0% !important;
}

.form-control::placeholder {
    color: rgba(70, 54, 16, 1) !important;
}

.checkcontain {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 2.1rem;
}

.checkbox-wrapper-43 input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.checkbox-wrapper-43 label {
    display: inline-block;
}

.checkbox-wrapper-43 .check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-43 .check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.checkbox-wrapper-43 .check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: rgba(70, 54, 16, 1);
    stroke-width: 1.3;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    width: 20px;
    height: 20px;
}

.checkbox-wrapper-43 .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}

.checkbox-wrapper-43 .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}

.checkbox-wrapper-43 .check:hover:before {
    opacity: 1;
}

.checkbox-wrapper-43 .check:hover svg {
    stroke: rgba(70, 54, 16, 1);
}

.checkbox-wrapper-43 input[type="checkbox"]:checked+.check svg {
    stroke: rgba(70, 54, 16, 1);
}

.checkbox-wrapper-43 input[type="checkbox"]:checked+.check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}

.checkbox-wrapper-43 input[type="checkbox"]:checked+.check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}

.remember {
    margin-left: 0.9rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0.3rem;
}


a.asignup {
    color: rgba(70, 54, 16, 1);
    background-color: transparent;
    font-weight: 650;
    cursor: pointer;
}

a.asignup:hover {
    color: rgb(114, 94, 4);
    background-color: transparent;
    text-decoration: underline;

}

a.asignup:active {
    color: rgba(66, 50, 11, 0.95);
    background-color: transparent;
    text-decoration: underline;
}

.forgotps {
    text-align: right;
    margin-top: 0.6rem;
}

a.fps {
    color: rgba(70, 54, 16, 1);
    background-color: transparent;
    font-weight: 640;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;

}

a.fps:hover {
    color: rgb(114, 94, 4);
    background-color: transparent;
    text-decoration: underline;

}

a.fps:active {
    color: rgba(66, 50, 11, 0.95);
    background-color: transparent;
    text-decoration: underline;
}

.acc {
    width: 13rem;
    height: 2.6rem;
    margin: auto;
    margin-top: 4.5rem;
    background-color: rgba(70, 54, 16, 1);
    border: none;
    border-radius: 4rem;
    color: #ebebeb;
}

.signup {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1.3rem;
}
@media (max-width: 1270px) {
.main{width: 70%;}}
@media (max-width: 1150px) {
.main{width: 75%;}}
@media (max-width: 1025px) {
.main{width: 80%;}}
@media (max-width: 950px) {
.main{width: 90%;
height: 90%;}}
@media (max-width: 850px) {
    .main{width: 95%;
    height: 90%;}}
@media (max-width: 790px) {
    body{
    background-image: url("./imgin4.avif");
    background-repeat: no-repeat;
    background-size: cover;}
   .picdiv{display:none;}
   .main{width: 75%;
height: 85%;
display: flex;
justify-content: center;
align-items: center;
margin: 7% auto;
}
   .txtContainer{width: 100%;
    height: 100%;
    background-color:rgba(244, 241, 234,0.9) ;
    
   }
}
@media (max-width: 650px) {.main{
width: 82%;}}
@media (max-width: 550px) {.main{
    width: 90%;
height: 83%;}}